@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
    margin-top: 250px;
    background-color: #f2ebe3 ;
}
.centro{
    background-color: hsl(0, 0%, 100%) ;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 660px;
    margin-right: 660px;
    
    
}

.centro img {
    height: 100%;
}

.texto{
    width: 150px;
    text-align: center;
    padding: 100px;
    font-family: "Montserrat", sans-serif;
    font-size: medium;
}

.conteudo{
    font-family: "Fraunces", serif;
    font-style: unset;
    font-size: larger;
    
}
.legenda{
    font-size: 14px;
    font-family: "Montserrat", sans-serif;
    color: gray;
}